
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40pxpx;
}
h2{
    font-size: 40px;
}
.akib{
    color: orange;
}
.flexible{
   display: flex;
   margin-bottom: 100px;
}
  .git{
      width: 50%;
      padding-left: 3%;
  }

  .git img{
      width: 50%;
  }
  .link{
    text-decoration: none;  
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
  }
  .shape{
background-image: url(top-banner.png);
background-repeat: no-repeat;
  }
  .dream{
      background-image: url(dream-bg.png);
      background-repeat: no-repeat;
      background-position: right;
  }
  .experience{
    background-image: url(exp-bg.png);  
    background-repeat: no-repeat;
    background-position: left;
  }
  .experience-item{
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
      padding-left: 20px;
      box-shadow: 10px 10px 40px gray;
      border: 10px black;
      border-radius: 10px;
      
  }
#web{
    border: black;
}
footer p {
    text-align: center;
}