
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.akib{
    color: orange;
}
section{
   display: flex;
}
  .git{
      width: 50%;
      padding-left: 3%;
  }
  .git img{
      width: 80%;
  }
  .link{
    text-decoration: none;  
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
  }
  .shape{
background-image: url(top-banner.png);
background-repeat: no-repeat;
  }